@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/**** Reset ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

/**** Style général de la page ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background-color: #f2f7f5;
    padding: 1rem;
}

.container {
    width: calc(768px - 1rem);
    padding: 16px;
    background-color: #f2f7f5;
    color: #00473e;
    border: 4px solid #00473e;
    border-radius: 15px;
}

h2 {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

.form {
    position: relative;
    width: 100%;
    margin: 2rem 0;
}

.number__input,
.btn {
    font-size: 1.2rem;
    border-radius: 10px;
}

.number__input {
    width: 100%;
    background-color: #1a3a46;
    color: #f2f7f5;
    padding: 15px 145px 15px 12px;
    appearance: none;
    -moz-appearance: textfield;
    /* Suppression des flèches de l'input number sur Mozilla */
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn {
    position: absolute;
    top: 5px;
    right: 8px;
    padding: 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #faae2b;
    color: #00473e;
    cursor: pointer;
}

.result {
    background-color: #f2f7f5;
    color: #00473e;
    padding: 12px;
    border-radius: 15px;
}

.result__span {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    line-height: 1.4;
}